@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:wght@100;300;400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bev Port</title>
    <link rel='stylesheet' href='~/css/bootstrap.min.css' media='all' />
    <link rel='stylesheet' href='~/css/style.css' media='all' />
</head>
<body>
    <div class="site-wrapper">
        <div class="main-wrapper">
            <!--Header Top Menu-->
            <div class="topbarnav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-rightNav">
                                <ul class="list-inline">
                                    <li><a href="#"></a></li>
                                    <li><a href="#">Resources</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-naivgation">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <img alt="Brand" src="~/images/logo.png">
                            </a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse main-menu-nav mainsubmenu" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav main-menu-navigation ">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Brewers</a></li>
                                <li><a href="#">Buyers</a></li>
                                <li><a href="#">Membership</a></li>
                            </ul>
                            <div class="makebtnright">
                                <a href="#">Portal</a>
                            </div>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>

            <section class="simplyfying">
                <div class="simplyfyingDiv">
                    <div class="container-fluid">
                        <div class="row upcontent">
                            <div class="col-md-5 simplecontent">
                                <div class="simplecontentimg">
                                    <img class="img-responsive" src="~/images/homecnavs.png" />
                                </div>
                            </div>
                            <div class="col-md-7 manBgimg">
                                <div class="manImg">
                                    <img class="img-responsive" src="~/images/themainman.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="moveTopUp">
                                <div class="container">
                                    <div class="row main-contentprt">
                                        <div class="col-md-4">
                                            <div class="textSimply">
                                                <h1><span class="browntext">Simplifying</span>Distribution</h1>
                                                <p class="brownhite">At BevPort, we are dedicated to making distribution easier for those who are ready to approach it with a fresh perspective. Our goal is to provide a seamless and efficient experience for brewers and buyers alike.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="joinnew">
                <div class="newdistribution">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Join the New Distribution Revolution!</h1>
                            </div>
                        </div>
                        <div class="row videorows">
                            <div class="col-md-4 col-sm-12">
                                <div class="video-container">
                                    <video controls="" poster="~/images/iframe_cover.png" width="100%" height="202">
                                        <source src="https://www.zoeblueprint.com/assets/bevport.mp4" type="video/mp4">.
                                    </video>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="videoside">
                                    <p>Become part of Bevport’s transformative platform revolutionizing the beverage industry by streamlining distribution, optimizing inventory, and connecting suppliers with retailers for unparalleled operational efficiency and outstanding customer experiences.</p>
                                </div>
                                <div class="buttonbrownTwo">
                                    <a href="#">FOR BREWERS</a>
                                    <a href="#">FOR BUYERS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="brewersandByers">
                <div class="BrewersbyCompound">
                    <div class="container-fluid">
                        <div class="row hidethis">
                            <div class="col-md-6 brewersPart">
                                <div class="brewersBg">
                                    <img class="img-responsive" src="~/images/simply.png" />
                                </div>
                            </div>
                            <div class="col-md-6 buyersPart">
                                <div class="buyerbg">
                                    <img class="img-responsive" src="~/images/buyersbg.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row showthis">
                            <div class="brewerBuyersSection">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 brewersbake">
                                            <div class="commonfeatures brewerText">
                                                <div class="brewersimg">
                                                    <img class="img-responsive" src="~/images/brewes.jpg" />
                                                </div>
                                                <h1>Brewers</h1>
                                                <p class="brewerPara"><span>GOT DISTRIBUTION?</span> BevPort offers an unparalleled advantage as the fastest and most cost-effective route to market with <span>PLANS STARTING AS LOW AS $29.99/MO</span>. Maximize your efficiency and minimize expenses with BevPort.</p>
                                                <div class="learnMoreBtn">
                                                    <a href="#">Lean More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 byersbake">
                                            <div class="commonfeatures buyersText">
                                                <div class="brewersimg">
                                                    <img class="img-responsive" src="~/images/buyers.jpg" />
                                                </div>
                                                <h1>Buyers</h1>
                                                <p class="brewerPara"><span>CRAFT DELIGHTS!</span> Are you searching for exceptional craft beers to delight your customers? Explore and procure an incredible selection of top-notch craft brands. Elevate your offerings with the finest brews available.</p>
                                                <div class="learnMoreBtn">
                                                    <a href="#">Lean More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="fast-track">
                <div class="yourConnections">
                    <div class="container-fluid">
                        <div class="row keepimg">
                            <div class="col-md-6 fast-trackbgs">
                                <div class="fast-trackbgsimg">
                                    <img class="img-responsive" src="~/images/fastrackbg.jpg" />
                                </div>
                            </div>
                            <div class="col-md-6 fast-trackbgContent">
                                <div class="fast-trackbgContetpart">
                                </div>
                            </div>
                        </div>
                        <div class="connectionswithRstaurant">
                            <div class="container">
                                <div class="row keepcontent">
                                    <div class="col-md-6 order2">
                                        <div class="iconsText">
                                            <div class="iconsTextCombo">
                                                <div class="setIcon">
                                                    <img src="~/images/user-ic.png" />
                                                </div>
                                                <h3>Who are we?</h3>
                                                <p>We’re a dedicated team of professionals looking to change the Beverage industry.</p>
                                            </div>


                                            <div class="iconsTextCombo">
                                                <div class="setIcon">
                                                    <img src="~/images/truck-ic.png" />
                                                </div>
                                                <h3>What do we do?</h3>
                                                <p>BevPort gives Beer Brands an opportunity to access distribution immediately, easily.</p>
                                            </div>


                                            <div class="iconsTextCombo">
                                                <div class="setIcon">
                                                    <img src="~/images/globe-ic.png" />
                                                </div>
                                                <h3>How do we do it?</h3>
                                                <p>We leverage the internet’s power to innovate and optimize future distribution.</p>
                                            </div>


                                            <div class="iconsTextCombo">
                                                <div class="setIcon">
                                                    <img src="~/images/shakehand-ic.png" />
                                                </div>
                                                <h3>Who we work with</h3>
                                                <p>Discover influential partners collaborating to bring your brand closer to customers.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 order1">
                                        <div class="fasttrackContents">
                                            <h1>Fast-track Your Connections with Restaurants, Bars, and Retailers</h1>
                                            <p>
                                                Join BevPort to effortlessly connect with a wide network of restaurants, bars, and retailers. Our platform empowers you to
                                                establish meaningful partnerships and seize new opportunities for growth in record time. Say goodbye to the traditional hurdles of building connections and embrace the efficiency of BevPort.
                                            </p>
                                            <ul>
                                                <li>Innovate new brands</li>
                                                <li>Own account relationships</li>
                                                <li>Access new markets</li>
                                                <li>Fill any distribution gaps</li>
                                            </ul>
                                            <div class="learnMoreBtn">
                                                <a href="#">Lean More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="distribution">
                <div class="distributionEmpowers">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 distributionEmpowerstext">
                            </div>
                            <div class="col-md-6 foodDrinkbg">
                                <div class="foodiesimg">
                                    <img src="~/images/foodies.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="connectionswithRstaurant">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="distributionEmpowersBg">
                                            <h1>Distribution that will Empowers Your Brand</h1>
                                            <p><span>NUMBERS DON’T LIE.</span> Our approach to distribution is based on tangible results. We empower every aspect of your distribution process, enabling you to make a significant impact on your bottom line.</p>
                                            <div class="numericvalues">
                                                <div class="numbers">
                                                    <h3>13.5K+</h3>
                                                    <span>BEER BRANDS INSIDE THE USA</span>
                                                </div>
                                                <div class="numbers">
                                                    <h3>40K+</h3>
                                                    <span>TOTAL RETAILERS IN THE USA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="testimonialSection">
                <div class="testimonialContent">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="raveheading">Rave Reviews</h3>
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" interval="false">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    </ol>
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img src="~/images/testimo.png" class="img-responsive" style="width: 150px">
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="testimonial_para">"Innovation brands. Emerging brands. Any brand in need of distribution. Brands expanding to new markets. Anyone who loves authentic products."</p>
                                                    <h4><strong>-Jack Anderson, Customer</strong></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img src="~/images/testimo.png" class="img-responsive" style="width: 150px">
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="testimonial_para">"Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text."</p>
                                                    <h4><strong>-Kiara Andreson</strong></h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="controls testimonial_control pull-right">
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>

                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ftrlogo">
                                <img src="~/images/base_logo_wht.png" />
                            </div>
                            <p class="ftparas">Bevport streamlines beverage distribution, optimizes inventory, and connects suppliers with retailers for enhanced operations and exceptional customer experiences.</p>
                            <ul class="social-links">
                                <li><a href="#"><img src="~/images/icons8-facebook-240.png" /></a></li>
                                <li><a href="#"><img src="~/images/icons8-twitter-240.png" /></a></li>
                                <li><a href="#"><img src="~/images/icons8-linkedin-240.png" /></a></li>
                                <li><a href="#"><img src="~/images/icons8-youtube-240.png" /></a></li>
                                <li><a href="#"><img src="~/images/icons8-instagram-240.png" /></a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Trending</h2>
                            <ul>
                                <li><a href="#">Brewers</a></li>
                                <li><a href="#">Buyers</a></li>
                                <li><a href="#">Membership</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Quick Links</h2>
                            <ul>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Address</h2>
                            <p><a href="#">1234 E. West Lane<br />Cityville, ST 00000</a></p>
                            <p><a href="#">800 XXXX XXX</a></p>
                            <p><a href="#">info@bevport.com</a></p>
                        </div>
                    </div>

                </div>
            </section>
            <section class="ftr-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyrights &copy; 2023 All Rights Reserved by BevPort.<span> | <a href="#">PRIVACY</a> | <a href="#">TERMS</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $('.carousel').carousel({
            interval: false,
        });
    </script>
</body>
</html>